* {
  box-sizing: border-box;
}

#loginSignupContainer {
  display: flex;
  justify-content: center;
}

#login {
  /* margin-top: 20vh; */
  display: flex;
  justify-content: center;
}

#signup {
  /* margin-top: 20vh; */
  display: flex;
  justify-content: center;
}

#loginFieldset {
  height: 30vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

#signupFieldset {
  height: 30vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

.js-search-results {
  float: left;
  height: 80vh;
  width: 45vw;
  border: 1px solid black;
}

.js-search-results2 {
  float: right;
  width: 10vw;
  border: 1px solid black;
}

.js-search-results3 {
  float: right;
  width: 10vw;
  border: 1px solid black;
}

.js-search-results4 {
  float: right;
  width: 10vw;
  border: 1px solid black;
}

.js-search-results22 {
  float: right;
  width: 10vw;
  border: 1px solid green;
}

.js-search-results33 {
  float: right;
  width: 10vw;
  border: 1px solid green;
}

.js-search-results44 {
  float: right;
  width: 10vw;
  border: 1px solid green;
}

.weapon {
  float: left;
}

.armor {
  float: right;
}

#indexSearchForm {
  text-align: center;
  margin-top: 35vh;
}

.weaponSuggestion {
  display: inline-block;
  border: 1px solid black;
  background-color: lightgreen;
  text-align: center;
}

.weaponForm {
  display: flex;
}
